body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.mp-topnav {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.mp-topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

.mp-topnav a:hover {
  background-color: #ddd;
  color: black;
}

.mp-topnav a:active {
  background-color: #4CAF50;
  color: white;
}

.mp-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: royalblue;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mp-sidenav a {
  margin-left: 1%;
  padding: 8px;
  text-decoration: none;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mp-sidenav a:hover {
  color: #f1f1f1;
}

.mp-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  margin: 0;
  margin-top: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  margin-left: 2%;
  float: left;
  min-height: 500px;
  border: 0.1px solid #ddd;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {

  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}

.content {
  padding: 2%;
  width: auto;
  background-color: white;
}

.content:after {
  content: "";
  display: block;
  clear: both;
}

.ticket-card {
  position: relative;
  float: left;
  width: 100%;
  margin: 0.5%;
  height: auto;
  overflow: hidden;
  background-color: #cccc;
  border-radius: 2px;
}

.ticket-card:hover {
  border: 0.5px soid royalblue;
  background-color: #eee;
}

.ticket-card .id {
  font-weight: bolder;
  padding: 1%;
  color: black;
  font-size: auto;
  text-align: left;
  border-left: 2px solid royalblue;
}

.ticket-card .title {
  font-weight: bolder;
  padding: 1%;
  color: black;
  font-size: auto;
  text-align: left;
}

.ticket-card .body {
  padding: 1%;
  color: black;
  font-size: auto;
  text-align: left;
}

.ticket-card .status {
  position: absolute;
  border: 0.1px solid white;
  right: 0;
  top: 0;
  height: 100%;
  padding: 20px;
  background-color: royalblue;
}

.ticket-card .status .message {
  vertical-align: middle;
  text-align: center;
  color: white;
}

form {
  max-width: 90%;
  margin: auto;
}

label {
  font-size: 14px;
  color: black;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #ccc;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.icon {
  padding: 10px;
  outline: none;
  /* background:  #259ae7  ; */
  color: black;
  min-width: 50px;
  text-align: center;
  /* border-bottom: 1px solid grey; */
}

.input-field {
  padding-left: 1%;
  width: 100%;
  outline: none;
  border-bottom: 1px solid grey;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.input-field:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-left: 1px solid royalblue;
  border-bottom: 1px solid royalblue;
}

/* Set a style for the submit button */
.btn {
  float: right;
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

textarea,
select,
input[type="text"],
.input-field,
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

@media screen and (max-width: 650px) {
  form {
    padding: 1%;
    min-width: 100%;
    margin: 0;
  }
}

.info {
  width: 100%;
  padding: 5px;
}
/*# sourceMappingURL=app.css.map */